body{
    background-color: lightblue;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden; /*No scrollbars even if something goes outside of its container*/
}

#main-header{
    background-color: coral;
    color: white;
}

#navbar{
    background-color: #333;
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none; /*Gets rid of bullet points*/
}

#navbar li{
    display:inline; /*Makes the list display inline, all in one line rather than on separate lines for each*/
}

#navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase{
    background-image: url('../images/lightabstract.jpg');
    background-position: center center;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    float: left;
    width:70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width:30%;
    background: #333;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px){ /*if you don't want certain elements to be floated when you zoom in loads because it's too crowded, then it switches to a different layout*/
    #main{
        width: 100%;
        float:none;
    }

    #sidebar{
        width: 100%;
        float:none;
    }
}